body {
    margin: 0 auto;
    background-color: #C4C4C4;
}

.header {
    background-color: #ECECEC;
    height: 100px;
}

.nav-link {
    width: 500px;
    height: 50px;
    background-image: url(./img/pin1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 17px;
    text-align: center;
}

.card:hover span {
    visibility: hidden;
}

.card:hover .btn-danger {
    visibility: visible;
}

.btn-danger {
    visibility: hidden;
}

#btn {
    padding-right: 20px;
}

.btn1 {
    background-color: #EF781A;
    color: white;
}

.btn2 {
    background-color: #00D008;
    color: white;
}

header {
    border-bottom: 1px solid black;
}

h1 {
    font-size: 36px;
    padding-top: 76px;
    padding-left: 20px;
}

.name {
    height: 150px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    box-shadow: 1px 1px #ECECEC;
}

.mac-menu {
    padding-left: 20px;
    padding-top: 31px;
}

h1 {
    color: #000000;
}

h2 {
    padding-left: 175px;
    padding-top: 31px;
    font-size: 24px;
    color: #000000;
}

.card-text {
    font-size: 10px;
}

.card-foot {
    display: flex;
    justify-content: space-between;
}

.card-img-two:hover {
    background-image: url(./img/Vector3.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.cards {
    padding-right: 175px;
    padding-top: 30px;
    padding-left: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-order {
    width: 400px;
    height: 315px;
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

p {
    padding-top: 25px;
    padding-left: 49px;
    font-size: 18px;
}

.order {
    padding-left: 20px;
    padding-top: 45px;
}

.orders {
    padding-left: 49px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.nav-order {
    padding-left: 90px;
    font-size: 12px;
    color: #979797;
}

.btn-order {
    width: 28px;
    height: 28px;
    background-color: #FF6C01;
    border-radius: 50%;
    border: 1px solid #FF6C01;
    color: #FFFFFF;
}

.cost {
    padding-left: 49px;
    display: flex;
    justify-content: space-between;
    padding-right: 28px;
}

.btn-order2 {
    width: 368px;
    height: 62px;
    background-color: #FF6C01;
    border: 1px solid #FF6C01;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding-left: 15px;
    padding-top: 15px;
}

#btn-order2 {
    padding-left: 16px;
    padding-top: 30px;
}

.btn-order2:hover {
    transform: scale(1.1);
    transition: all 1s linear;
}

h7 {
    font-size: 24px;
}

.foot {
    padding-left: 20px;
    padding-top: 35px;
}

.info {
    padding-top: 30px;
    padding-left: 30px;
    width: 773px;
    height: 250px;
    background-color: #FFFFFF;
}

.info-text {
    font-size: 14px;
    color: #999999;
    ;
}

.info-text2 {
    font-size: 16px;
}

#up {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: black;
    font-size: 35px;
    border: 1px solid #FFFFFF;
}

.up {
    padding-left: 20px;
    padding-top: 25px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width:670px) and (max-width:992px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width:670px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 80%;
        padding-left: 0;
        padding-right: 0;
    }

    .info {
        width: 400px;
    }
}

@media screen and (max-width:440px) {
    .mac-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    .order {
        padding-left: 8px;
    }

    .foot {
        padding-left: 8px;
    }

    .cards {
        display: grid;
        width: 80%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-link {
        width: 390px;
    }
}